.container form label .brand-image-preview{
    width: 100px;
    height: 100px;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .brand-background-color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
  }